# Description: https://navigation.ros.org/configuration/packages/configuring-amcl.html
amcl:
  ros__parameters:
    use_sim_time: False
    set_initial_pose: True # True: use pose below, False: Use RViz 2D Pose Estimate
    initial_pose:
      x: 0.0
      y: 0.0
      z: 0.0
      yaw: 0.0
    alpha1: 0.3
    alpha2: 0.3
    alpha3: 0.3
    alpha4: 0.3
    alpha5: 0.3
    base_frame_id: "base_link"
    beam_skip_distance: 0.5
    beam_skip_error_threshold: 0.9
    beam_skip_threshold: 0.3
    do_beamskip: false
    global_frame_id: "map"
    lambda_short: 0.1
    laser_likelihood_max_dist: 5.0  # 2.0
    laser_max_range: -1.0 # -1.0, 12.0, 100.0
    laser_min_range: -1.0
    laser_model_type: "beam" # "likelihood_field"
    max_beams: 360 # 100
    max_particles: 2000  # 6000
    min_particles: 500  # 1000
    odom_frame_id: "odom"
    pf_err: 0.05
    pf_z: 0.99
    recovery_alpha_fast: 0.0  # 0.0, 0.1
    recovery_alpha_slow: 0.0  # 0.0, 0.001
    resample_interval: 1  # 1, 3
    robot_model_type: "nav2_amcl::DifferentialMotionModel"
    save_pose_rate: 0.5  # 0.5, 0.1
    sigma_hit: 0.2
    tf_broadcast: false
    transform_tolerance: 1.0 # 0.2
    update_min_a: -1.0  # 0.05
    update_min_d: -1.0  # 0.05
    z_hit: 0.5
    z_max: 0.05
    z_rand: 0.5
    z_short: 0.05
    scan_topic: /lidar/scan_filtered # /lidar/scan_filtered
    map_topic: map
    first_map_only: false
#
#amcl_map_client:
#  ros__parameters:
#    use_sim_time: False
#
#amcl_rclcpp_node:
#  ros__parameters:
#    use_sim_time: False


map_server:
  ros__parameters:
    use_sim_time: False
    # Overridden in launch by the "map" launch configuration or provided default value.
    # To use in yaml, remove the default "map" value in the localization_launch.py file & provide full path to map below.
    yaml_filename: "raslab.yaml"

map_saver:
  ros__parameters:
    use_sim_time: False
    save_map_timeout: 5.0  # 5000.0
    free_thresh_default: 0.25
    occupied_thresh_default: 0.65
    map_subscribe_transient_local: True